#container {
  text-align: center;
}

h1 {
  color: rgba(78, 107, 75, 1); 
}

#image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10%;
}

#image-gallery div {
  margin: 10px;
}

h3 {
  color: rgba(112, 102, 83, 1); 
  text-align: center;
}

figure {
  text-align: center;
  margin: auto;
}

figure img {
  border: 3px solid rgba(112, 102, 83, 1); 
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  color: rgba(183, 174, 143, 1); 
}


a[href='../index.html'] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: rgba(78, 107, 75, 1); 
  text-decoration: none;
  font-weight: bold;
}


a[href='../index.html']:hover {
  text-decoration: underline;
}
